#word {
  background-color: #e6bbad;
  text-align: center;
  min-height: 60px;
  width: 250px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}

.buttons {
  text-align: center;
  margin: 20px;
}


.action-button {
  display: inline-block;
  height: 40px;
  min-width: 134px;
  border-radius: 5px;
  border: 0;
  background-color: #99cfe0;
}

button:focus {
  outline: 0;
  background-color: #72bcd4;
}
